HeikenAshi_Indi_HeikenAshi_Applied_Price={{ applied_price | replace("(ENUM_APPLIED_PRICE)", "") | int | default(0) }}
HeikenAshi_Indi_HeikenAshi_MA_Method={{ ma_method | default(0) }}
HeikenAshi_Indi_HeikenAshi_Period,1=4
HeikenAshi_Indi_HeikenAshi_Period,2=4
HeikenAshi_Indi_HeikenAshi_Period,3=24
HeikenAshi_Indi_HeikenAshi_Period,F=1
HeikenAshi_Indi_HeikenAshi_Period={{ period | default(4) }}
HeikenAshi_SignalOpenFilterMethod=1
HeikenAshi_TickFilterMethod=1
